<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <% if current_user.manager? %>
    <%= f.hidden_field :manager_id, value: current_user.manager.id %>
  <% elsif current_user.agent? %>
    <%= f.hidden_field :manager_id, value: current_user.manager.id %>
    <%= f.hidden_field :agent_id, value: current_user.agent.id %>
  <% else %>
  <% end %>


  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>

  <h3>Add functionalities</h3>
  <% if current_user.admin? %>
    <%= f.collection_check_boxes :functionality_ids, Functionality.all, :id, :description %>
  <% else %>
    <%= f.collection_check_boxes :functionality_ids, current_user.profile.functionalities, :id, :description %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
