<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @agent.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @agent.active %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @agent.manager_id %>
</p>

<%= link_to 'Edit', edit_agent_path(@agent) %> |
<%= link_to 'Back', agents_path %>
